*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    
}

.border:hover{
    border: 1.5px solid white;
}
.style1{
    font-size: 12px; 
    color: #CCCCCC;

}
.style2{
    font-size: 14px;

}
.navbar{
    height: 60px;
    width:100%;
    background-color: #0F1111; 
    display: flex;
    justify-content: space-between
}
.logo{
    width: 100px;
    /* height: 40px; */
    background-image: url("Images/logo.png");
    background-size: cover;
    
}
.delivery_location{
    width: 90px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.icon-location{
    position: relative;
    top: 10px;
    height: 25px;
    width: 21px;
    font-size: 1rem;
}
.search-bar{
    width: 450px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.All{
    width: 50px;
    height: 40px;
    color: #0F1111;
    background-color: #e6e6e6;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 1rem;
}
.search{
    width: 345px;
    height: 37px;
    font-size: 15px;
}
.icon-search{
    width: 45px;
    height:40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgb(226, 173, 26);
    display: flex;
    justify-content: center;
    align-items: center;
}
.signin{
    width: 140px;
    /* height: 50px; */
    display: flex;
    /* margin-top: 15px; */
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
.icon-drop{
    position: relative;
    bottom: 0;
    right: -5px;
}
.returns{
     width: 80px;
     display: flex;
     justify-content: center;
     align-items: center;
     align-content: center;
     flex-wrap: wrap;
}
.cart{
    width: 90px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
.cart i{
    font-size: 1.5rem;
}

/* First Panal */

.panal{
    height: 40px;
    width: 100%;
    background-color: #214848;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.icon-bar{
    width: 40px;;
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin-left: 5px;
}
.option{
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}
.option a{
    text-decoration: none;
    font-size: .85rem;
    margin-left: 30px;

}

/* Main background image */

.main-image{

    width: 100%;
    height: 350px;
    background-image: url("Images/main-back.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.content-line{
    height: 35px;
    width: 90%;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-line a{
    color: blue;
}
/* main content */

.content-box{
    height: 850px;
    background-color: rgb(255, 229, 233);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-evenly;
    margin: 10px 15px 10px 15px;
    

}

.box{
    width: 300px;
    height: 400px;
    background-color: white;   
    
}
.box a{
  
    margin-left: 5px;
}
.img1{
    height: 300px;;
    width: 250px;
    background-image: url("Images/box1-4.jpg");
    background-size: contain;
     margin-left: 20px;
     margin-bottom: 20px;
}
.img2{
    height: 300px;;
    width: 250px;
    background-image: url("Images/box2.jpg");
    background-size: cover;
     margin-left: 20px;
     margin-bottom: 20px;
}
.img3{
    height: 300px;;
    width: 250px;
    background-image: url("Images/box3.jpg");
    background-size: cover;
     margin-left: 20px;
     margin-bottom: 20px;
}
.img4{
    height: 300px;;
    width: 250px;
    background-image: url("Images/box4.jpg");
    background-size: cover;
     margin-left: 20px;
     margin-bottom: 20px;
}
.img5{
    height: 300px;;
    width: 250px;
    background-image: url("Images/box5.jpg");
    background-size: cover;
     margin-left: 20px;
     margin-bottom: 20px;
}
.img6{
    height: 300px;;
    width: 250px;
    background-image: url("Images/box6.jpg");
    background-size: cover;
     margin-left: 20px;
     margin-bottom: 20px;
}
.img7{
    height: 300px;;
    width: 250px;
    background-image: url("Images/box7.jpg");
    background-size: cover;
     margin-left: 20px;
     margin-bottom: 20px;
}
.img8{
    height: 300px;;
    width: 250px;
    background-image: url("Images/box8.jpg");
    background-size: cover;
     margin-left: 20px;
     margin-bottom: 20px;
}



.heading-text{
    width: 280px;
    height: 30px; 
    font-size: 21px;
    background-color: white;
    color:#0F1111;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 5px;
    
}
.panal1{

    height: 50px;
    background-color: #214848;
    color: white;
    text-align: center;
    padding-top: 20px;
}
.panal2{
    height: 380px;
    background-color: #232929;
    color: white;
    /* padding: 10px 10px 10px 10px; */
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding-top: 50px;
    
}
.panal2 p{
    padding: 5px 10px 10px 10px;
    font-size: 0.85rem;
}
.para{
    /* padding-top: 15px; */
    height: 300px;
}




